@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  text-align: center;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 8px gray;
}

header img {
  width: 150px;
}

.city-localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  gap: 16px;
  background-color: #e7e7eb;
  color: rgb(68, 68, 68);
  text-align: center;
  padding: 16px;
}
.city-localisation i {
  font-size: 16px;
}

/*******Accueil Reservation Infos**********/
.reservation-info {
  text-align: center;
  background-color: #f3f3f3;
}
.reservation-info h2 {
  padding-top: 32px;
}
.reservation-info p {
  margin-top: 16px;
  color: rgb(68, 68, 68);
}
.reservation-info_button {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 16px 20px;
  border: none;
  border-radius: 32px;
  margin: 16px 0 68px 0;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0px 0px 8px gray;
}
.reservation-info_button:hover {
  transform: scale(1.03);
}

/* Fonctionnement listes */
.functioning-block {
  padding: 0 16px;
  /* Ajout des valeurs 1,2,3...*/
  counter-reset: steps;
}
.functioning-block_title {
  margin-top: 40px;
  margin-bottom: 32px;
}
.functioning-block ol {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.functioning-block li {
  position: relative;
  background-color: #f3f3f3;
  padding: 24px 40px;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0px 0px 8px gray;
}
.functioning-block li::before {
  /* Valeurs 1,2,3 ... des listes + modification*/
  content: counter(steps);
  counter-increment: steps;
  font-size: 10px;
  background-color: #9356DC;
  color: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
}
.functioning-block li:hover {
  transform: scale(1.03);
}
.functioning-block li i.fas {
  /*Icones gris*/
  margin-right: 16px;
  font-size: 20px;
  color: gray;
}
.functioning-block li i.fas-purple {
  /*icone violet*/
  margin-right: 16px;
  font-size: 20px;
  color: #9356DC;
}

.restaurants-block {
  /*Carte des restaurants*/
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  margin-top: 40px;
  padding-bottom: 68px;
}
.restaurants-block_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.restaurants-block h2 {
  padding: 68px 16px 16px 16px;
}
.restaurants-block--titlecard {
  margin: 8px 0 4px 8px;
  font-size: 18px;
}
.restaurants-block--textcard {
  padding: 0 0 16px 8px;
}
.restaurants-block i {
  /*Icone like*/
  position: absolute;
  font-size: 32px;
  right: 32px;
  bottom: 22px;
}
.restaurants-block--card {
  position: relative;
  background-color: white;
  border-radius: 15px 15px;
  margin: 0 16px;
  box-shadow: 0px 0px 8px gray;
}
.restaurants-block_new {
  /*Carré Nouveau*/
  background-color: #99E2D0;
  color: #188447;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.restaurants-block--card img {
  border-radius: 15px 15px 0 0;
  height: 175px;
  width: 100%;
  object-fit: cover;
}

.footer-block {
  background-color: rgb(44, 48, 48);
  color: white;
  padding: 16px 0 32px 32px;
}
.footer-block _container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-block i {
  margin-right: 8px;
}
.footer-block p {
  margin-top: 8px;
  font-size: 16px;
}
.footer-block h2 {
  font-family: "Shrikhand";
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 100;
}

/*# sourceMappingURL=Styles.css.map */
