.back {
    position: absolute;
    left: 30px;
    top: 18px;
    font-size: 22px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        top: 30px;
    }
}

.img-menus {
    width: 100%;
    max-height: 280px;
    object-fit: cover;

    @media screen and (min-width: 768px) {
        max-height: 350px;
    }
}


.title-menus-block {
    position: relative;
    top: -58px;
    margin-bottom: -58px;
    background-color: #F2F2F2;
    border-radius: 40px 40px 0 0;

    @media screen and (min-width: 768px) {
        text-align: center;
    }

    & h2 {
        padding: 32px 16px 16px 16px;
        font-family: 'Shrikhand';
        font-size: 26px;
        font-weight: 500;
    }
    
    i {
        /*Icone like*/
        position: absolute;
        font-size: 32px;
        right: 42px;
        bottom: 20px;
    }

    & .fill {
        color: black;
        cursor: pointer;
      }
      .fill:hover {
        animation: fill 0.3s ease-in-out;
        animation-fill-mode: forwards;
        transform-origin: left;
        display: inline-block;
        opacity: 1;
        background: linear-gradient(to bottom,$color-primary, $color-secondary);
        background: -webkit-linear-gradient(to bottom #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

.restaurants-menus {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 0 16px 16px 16px;
    background-color: #F2F2F2;
    cursor: pointer;

    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }

    &_block {
        display: grid;
        gap: 16px;
    }
    
    & h3 {
        border-bottom: 3px solid $color-third;
        width: 12%;
        font-weight: 400;
    }
}
/*************Menus****************/
.menus {
    display: flex;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    @include box-shadow;

    & > * {
        padding: 16px 16px;
    }

    /*Animations apparition progressive des menus*/
    &_vignets1 {
    
        animation: fadein 1s both;
        -moz-animation: fadein 1s; 
        -webkit-animation: fadein 1s; 
        -o-animation: fadein 1s; 
    }
    &_vignets2 {
    
        animation: fadein 2s both;
        animation-delay: 200ms;
        -moz-animation: fadein 2s; 
        -webkit-animation: fadein 2s; 
        -o-animation: fadein 2s; 
    }
    &_vignets3 {
    
        animation: fadein 3s both;
        animation-delay: 300ms;
        -moz-animation: fadein 3s; 
        -webkit-animation: fadein 3s; 
        -o-animation: fadein 3s; 
    }
    &_vignets4 {
    
        animation: fadein 4s both;
        animation-delay: 400ms;
        -moz-animation: fadein 4s; 
        -webkit-animation: fadein 4s; 
        -o-animation: fadein 4s; 
    }
    &_vignets5 {
    
        animation: fadein 5s both;
        animation-delay: 500ms;
        -moz-animation: fadein 5s; 
        -webkit-animation: fadein 5s; 
        -o-animation: fadein 5s; 
    }
    &_vignets6 {
    
        animation: fadein 6s both;
        animation-delay: 600ms;
        -moz-animation: fadein 6s; 
        -webkit-animation: fadein 6s; 
        -o-animation: fadein 6s; 
    }
    &_vignets7 {
    
        animation: fadein 7s both;
        animation-delay: 700ms;
        -moz-animation: fadein 7s; 
        -webkit-animation: fadein 7s; 
        -o-animation: fadein 7s; 
    }
    &_vignets8 {
    
        animation: fadein 8s both;
        animation-delay: 800ms;
        -moz-animation: fadein 8s; 
        -webkit-animation: fadein 8s; 
        -o-animation: fadein 8s; 
    }
    &_vignets9 {
    
        animation: fadein 9s both;
        animation-delay: 900ms;
        -moz-animation: fadein 9s; 
        -webkit-animation: fadein 9s; 
        -o-animation: fadein 9s; 
    }
    &_vignets10 {
    
        animation: fadein 10s both;
        animation-delay: 1000ms;
        -moz-animation: fadein 10s; 
        -webkit-animation: fadein 10s; 
        -o-animation: fadein 10s; 
    }

    &_animation {
        /*Animation validation menus*/
        display: grid;
        place-items: center;
        background-color: $color-third;
        cursor: pointer;
        margin-right: -62px;
        width: 62px;

        @media screen and (min-width: 768px) and (max-width: 991px) {
            margin-right: -100px;
            width: 100px;
        }

        i {
            display: grid;
            place-items: center;
            color: $color-third;
            background-color: white;
            font-size: 20px;
            width: 32px;
            height: 32px;
            border-radius: 16px;
        }
    }

    &_text {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media screen and (min-width: 768px) and (max-width: 991px) {
            font-size: 20px;
        }

        &--p {
            font-size: 14px;
            margin-top: 6px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media screen and (min-width: 768px) and (max-width: 991px) {
                font-size: 20px;
            }
        }

        & h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
     

        &--cost {
            display: flex;
            align-items: end;
            margin-left: auto;
            margin-right: 16px;
        }
    
    }
    &:hover { 
        .menus_animation {
        margin-right: 0;
        transition: margin-right 0.5s;
    }
    
    i {
        animation: spin 0.5s;
    }
}
}

.menus-info {
    text-align: center;
    background-color: #f3f3f3;
    padding-top: 16px;

    &_button {
        background-image: linear-gradient(to top, $color-primary,$color-secondary);
        color: white;
        font-size: 14px;
        font-weight: 500;
        padding: 16px 40px;
        border: none;
        border-radius: 32px;
        margin: 16px 0 68px 0;
        cursor: pointer;
        transition: transform 0.2s; 
        @include box-shadow;  
    }
    &_button:hover {
        transform: scale(1.03);
        opacity: 0.8;
        box-shadow: 0px 0px 16px black;
    }
}
