.back {
    position: absolute;
    left: 30px;
    top: 18px;
    font-size: 22px;
}

.img-menus {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.title-menus-block {
    position: relative;
    top: -58px;
    background-color: #F2F2F2;
    border-radius: 40px 40px 0 0;

    & h2 {
        padding: 32px 16px 16px 32px;
        font-family: 'Shrikhand';
        font-size: 26px;
        font-weight: 500;
    }
    
    i {
        /*Icone like*/
        position: absolute;
        font-size: 32px;
        right: 42px;
        bottom: 20px;
    }

    & .fill {
        color: black;
        cursor: pointer;
      }
      .fill:hover {
        animation: fill 0.3s ease-in-out;
        animation-fill-mode: forwards;
        transform-origin: left;
        display: inline-block;
        opacity: 1;
        background: linear-gradient(to bottom,$color-primary, $color-secondary);
        background: -webkit-linear-gradient(to bottom #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

.restaurants-menus {
    position: relative;
    top: -58px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 0 16px;
    background-color: #F2F2F2;

    &_block {
        display: grid;
        gap: 16px;
    }
    
    & h3 {
        border-bottom: 3px solid $color-third;
        width: 12%;
        font-weight: 400;
    }

    & > * {
    }
}

.menus {
    display: flex;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    @include box-shadow;
    
    & > * {
        padding: 16px 16px;
    }
    

    &_animation {
        display: grid;
        place-items: center;
        background-color: $color-third;
        cursor: pointer;
        margin-right: -62px;
        width: 62px;

        i {
            display: grid;
            place-items: center;
            color: $color-third;
            background-color: white;
            font-size: 20px;
            width: 32px;
            height: 32px;
            border-radius: 16px;
        }
    }

    &_text {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &--p {
            font-size: 14px;
            margin-top: 6px;
        }
     

        &--cost {
            display: flex;
            align-items: end;
            margin-left: auto;
            margin-right: 16px;
        }
    
    }
    &:hover { 
        .menus_animation {
        margin-right: 0;
        transition: margin-right 0.5s;
    }
    
    i {
        animation: spin 0.5s;
    }
}
}

button {
    text-align: center;
}