/*******Accueil Reservation Infos**********/
.reservation-info {
    text-align: center;
    background-color: #f3f3f3;
    & h2 {
        padding-top: 32px;
    }
    & p {
        margin-top: 16px;
        color: rgb(68, 68, 68);
    }
    &_button {
        background-image: linear-gradient(to top, $color-primary,$color-secondary);
        color: white;
        font-size: 14px;
        font-weight: 500;
        padding: 16px 20px;
        border: none;
        border-radius: 32px;
        margin: 16px 0 68px 0;
        cursor: pointer;
        transition: transform 0.2s; 
        @include box-shadow;  
    }
    &_button:hover {
        transform: scale(1.03);
    }
}